@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(https://db.onlinewebfonts.com/c/2b3966678f6a1c8c8be202caeb49d95a?family=FOT-Yuruka+Std);

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none !important;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e20613;
    color: #fff;
}
.navbar {
    background-color: #cc0404;
}
.navbar a{
    font-weight: 600;
    color: #fff;
}

.navbar-brand{
    font-family:"FOT-Yuruka Std";
}

.fa-bars{
    color: #fff;
}

.navbar-toggler{
    outline: none !important;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.collapse {
    flex-grow: 0;
}
.nav-item a:hover {
    background-color: white;
    color: #e20613;
}
.nav-item a:focus {
    background-color: white;
    color: #e20613;
}

.dropdown .dropdown-toggler:focus {
    color: #e20613;
}

.dropdown-menu {
    background-color: #e20613;
}
.dropdown-menu:focus {
    color: #e20613;
}
footer {
    bottom: 10;
    background-color: #fff;
}
.footer-link{
    display: flex;
    list-style: none;
    justify-content: center;
    color:#1d1919;
}
.footer-link .link-item .link {
    text-decoration: none;
    color: #e20613;
}

@media (max-width: 660px){
    .container-fluid {
        justify-content: start;
    }
    .navbar-brand {
        flex-grow: 1;
        padding-left: 29%;
    }
    .order-4{
        display: none;
    }
}
