@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none !important;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.navbar a{
    color: #e20613 !important;
    font-weight: 600;
}

@media (max-width: 440px){
    .navbar-brand {
        flex-grow: 1;
        padding-left: 6.8rem;
    }
}