@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(https://db.onlinewebfonts.com/c/2b3966678f6a1c8c8be202caeb49d95a?family=FOT-Yuruka+Std);

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none !important;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e20613;
    color: #fff;
}
.container {
    margin: auto;
}
.navbar {
    background-color: #cc0404;
    padding: 0;
}
.navbar .container-fluid {
    padding: 0;
    margin: 0;
    height: 50px;
}
.navbar a{
    font-weight: 600;
    color: #fff;
}

.navbar-brand{
    height: 50px;
    position: relative;
    padding: 0;
    margin: 0;
}
.navbar-brand img {
    width: 5rem;
    /* padding: 0 0 0 50px; */
    padding-top: 10px;
}

.fa-bars{
    color: #fff;
}
.navbar-toggler{
    outline: none !important;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.collapse {
    flex-grow: 0;
}
.nav-item {
    height: 100%;
}
.nav-item .nav-link {
    height: 100%;
    padding: 1rem;
}
.nav-item a:hover {
    background-color: white;
    color: #e20613;
}
.nav-item a:focus {
    background-color: white;
    color: #e20613;
}

.dropdown .dropdown-toggler:focus {
    color: #e20613;
}
.order-4 {
    padding: 6px;
}
.order-4 .btn-group .btn img {
    width: 1.4rem;
}
.order-4 .btn-group .dropdown-menu {
    width: 1px;
}
.order-4 .btn-group .dropdown-menu img {
    width: 1.4rem;
} 

.dropdown-menu {
    background-color: #e20613;
}
.dropdown-menu:focus {
    color: #e20613;
}
footer {
    bottom: 0;
    background: #fff;
    height: 200px;
    background-repeat:round;
    padding-top: 3rem;
}
.footer-link{
    list-style: none;
    color:#1d1919;
}
.footer-link .link-item .link {
    color: #000;
}
.footer-link .link-item .link:hover {
    color: #e20613;
}

@media (max-width: 768px){
    .container-fluid {
        justify-content: start;
    }
    .navbar-brand {
        flex-grow: 1;
    }
    .navbar-brand img{
        padding: 0;
    }
}
