@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* @import url(https://db.onlinewebfonts.com/c/2b3966678f6a1c8c8be202caeb49d95a?family=FOT-Yuruka+Std); */

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none !important;
    box-sizing: border-box;
    color: #F8F7F2 ;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #cf0511;
    color: #fff;
}
.container {
    margin: auto;
}
.navbar {
    background-color: #e20613;
    padding: 0;
    height: 3.5rem;
}

.navbar *{
    color: #fff !important;
}
.navbar .container-fluid {
    padding: 0;
    margin: 0;
    height: 50px;
}
.navbar a{
    font-weight: 600;
    color: #fff;
}

.navbar-brand{
    height: 50px;
    padding: 0;
    margin: 0;
}
.navbar-brand img {
    width: 5rem;
    margin: .5rem;
}

.fa-bars{
    color: #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}
.offcanvas {
    background-color: #e20613;
    max-width: 50%;
}
.offcanvas-title img{
    width: 5rem;
}
.offcanvas .dropdown .dropdown-menu {
    background-color: #e20613;
}
.dropdown-toggle.show::after {
    color: #e20613 !important;
}
.dropdown-toggle:hover::after {
    color: #e20613 !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #e20613 !important;
}
.collapse {
    flex-grow: 0;
}
.navbar-nav {
    width: 100%;
}
.nav-item {
    height: 100%;
}
.nav-item .nav-link {
    padding: 1rem;
}
.nav-item a:hover {
    background-color: white;
    color: #e20613 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    background-color: white;
    color: #e20613 !important;
}
.nav-item a::after{
    color: #fff;
}

.nav-item a:active {
    background-color: white;
    color: #e20613 !important;
}


.order-4 {
    padding: 0;
}
.order-4 .nav-item .nav-link {
    border-radius: 3px;
}

.order-4 .btn-group .btn {
    height: 2.5rem;
    border: none;
    color: #fff;
}
.order-4 .btn-group .btn:focus {
    color: #fff;
    background-color: #ac0712;
}
.order-4 .btn-group .btn img {
    margin: 0;
    width: 1.4rem;
}
.order-4 .btn-group .dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 1rem !important;
    width: 4rem;
    height: fit-content !important;
    background-color: #e20613;
}
.order-4 .btn-group .dropdown-menu img {
    width: 1.4rem;
} 
.order-4 .btn-group .dropdown-menu .dropdown-item{
    margin: 0;
    padding: .1rem;
}
.order-4 .btn-group .dropdown-menu .active {
    background-color: #cc0404;
}

.order-4 .btn-group .dropdown-menu *:hover {
    color: #e20613 !important;
}

footer {
    bottom: 0;
    background: #fff;
    padding-top: 2rem;
    /* position: static !important; */
    bottom: 0;
}
.footer-link *{
    color: #000 !important;
}
.footer-link{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-link .link-item .link {
    color: #000 !important;
    margin: 1rem;
}
.footer-link .link-item .link:hover {
    color: #e20613 !important;
}

.socmed i{
    margin: .5rem;
    padding-top: .5rem;
    font-size: 1.3rem;
    color: #1d1919 !important;
}

.socmed .link-item a i:hover {
   color: #e20613 !important;
}

.copyright p {
    color: #000 !important;
    text-align: center;
    margin-top: .5rem;
}


@keyframes slideIn-menu {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  @-webkit-keyframes slideIn-menu {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  .slideIn-menu {
    -webkit-animation-name: slideIn-menu;
    animation-name: slideIn-menu;
  }


@media (min-width: 320px){
    .container-fluid {
        justify-content: start;
    }
    .navbar-brand {
        flex-grow: 1;
    }
    .navbar-brand img{
        padding: 0;
    }

    .last {
        border-top: 1px #fff solid;
    }
    .offcanvas {
        background-color: #e20613;
        max-width: 85%;
    }
    .order-4 .nav-item {
        display: none;
    }

    .animate-menu {
        animation-duration: 0.7s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
      footer{
          height: 20%;
      }
}


@media (min-width: 801px){
    .container-fluid {
        justify-content: start;
    }
    .navbar-brand {
        flex-grow: 1;
    }
    .navbar-brand img{
        padding: 0;
    }
    .offcanvas {
        background-color: #e20613;
        max-width: 85%;
    }
    .order-4 .nav-item {
        display: none;
    }
    footer {
        height: 35%;
        padding-top: 1rem;
    }
    .animate-menu {
        animation-duration: 0.7s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
}

@media (min-width: 1025px){
    .d-none {
        display: none!important;
        border-top: 1px #fff solid;
    }
    .order-4 .nav-item {
        display: block;
    }
    .order-4 .btn-group{
        padding-top: .4rem;
    }
    footer {
        height: 15rem !important;
        padding-top: 6%;
    }
}